<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>
    <h1>Choose an episode</h1>
    <ul>
    {{#each eps}}
        <li><a href="/play/{{../pod}}/{{encoded}}">{{displayname}}</a></li>
    {{/each}}
    </ul>
  </body>
</html>