<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Server Error</title>
<link rel="stylesheet" href="/css/sulkingServer.css">
</head>
<body>
<div class="error-container">
  <h1>Houston, We Have a Problem</h1>
  <div class="ascii-art">
    <pre>
     .-""""""-.
    .' _      '.
   /  (o)  (o)  \
  :   ___/\___   :
  |  (         )  |
  : '.\_____./.' :
   \     '     /
    '._     _.'
      '-...-'  
    </pre>
  </div>
  <div class="message">
    <span class="message-label">Server says:</span>
    "{{message}}"
  </div>
  <p class="funny-text">Our tech team is currently working on it. Perhaps this is a good time for that coffee break you've been postponing? ☕</p>
  <p class="funny-text">We promise we're typing furiously to get things back up and running!</p>
  <a href="/" class="home-button">Return to Safety</a>
</div>
</body>
</html>